ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    display: block;
    border-right: 0.5rem solid inherit;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

li.timeline-item:nth-child(5n+1)::before{
    background-color: rgb(226, 105, 105);
}
li.timeline-item:nth-child(5n+2)::before{
    background-color: rgb(132, 199, 32);
}
li.timeline-item:nth-child(5n+3)::before{
    background-color:  rgb(90, 185, 248);
}
li.timeline-item:nth-child(5n+4)::before{
    background-color:  rgb(213, 140, 247);
}
li.timeline-item:nth-child(5n)::before{
    background-color:  rgb(247, 247, 111);
}

body {
    background:black;
    min-height: 100vh;
}